// Colors
$darkColor: #141414;
$blueColor: #0061fd;
$darkGreyColor: #2f2f2f;
$lightGreyColor: rgba(235, 235, 245, 0.6);
$greenColor: #b1dd8b;
$whiteColor: #ffffff;
$coalColor: #38383a;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
